:root {
    --primario: #f46669;
    --secundario: #c7c57d;
    --gris : #f5f5f5;
}
body {
    font-family:  sans-serif;
    color: #303030;
}
p{
    font-weight: 300;
    line-height: 2rem;
    font-size: 1rem;
}
.bg-primary,
.list-group-item-primary,
.btn-primary {
    background-color: #f46669!important;
    
}
.btn-primary{
    border-color:#f46669;

}
.badge-secondary,
.bg-secondary,
.list-group-item-secondary{
    background-color: #c7c57d!important;
   
}
.badge-secondary {
  
    color: black;
}

.nav-link {
    color: black;
}
.nav-link:hover {
color: #f46669;

}

.nav-link.activo {
    color: #f46669;
    border-bottom: 2px solid #f46669;
}
/** imagenes de fondo **/
.imagen-destacada {
    height: 24rem;
    background-size: cover;

}
.nosotros-bg {
    background-image: url(../img/principal1.jpg);
}
.clase-bg {
    background-image: url(../img/1.jpg);
}
.contacto-bg {
    background-image: url(../img/principal2.jpg);
}
.contenido-nosotros {
    margin-top: -5rem;
    border: 1px solid #e1e1e1;
    position: relative;
    z-index: 100;

}
.nosotros .informacion h3 {
    font-weight: 300;
    font-size: 1.3rem;
}

.bg-light {
    background-color: white!important;
}
.separador::after {
    content:  '';
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-image: url(../img/separador.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.inverso::after {
    background-image: url(../img/separador-inverso.png);
}
/* Home */
.imagen > div {
    height: 30rem;
}
@media(min-width:768px){
    .imagen > div{
        height: 45rem;
    }
}

body.index .clases{
    background-color: #f5f5f5;
}

.bg-vino, .bg-comida{
background-size: cover;
background-position: top center;
}
.bg-vino{
    background-image: url(../img/principal1.jpg);
}
.bg-comida {
    background-image: url(../img/principal2.jpg);
}
.imagen-superior .contenido{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.imagen-inferior .contenido{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
@media(min-width:768px){

    .imagen-inferior .bg-secondary{
        order: 2;
    }
}



/**blog**/
blockquote.subtitulo {
    font-size: 1.6rem;
    color: #303030;
    font-style: italic;
    font-weight: 100;
    border-left: .2rem solid #f46669;
}
.entrada a {
    color: #f46669;
}
.contenido-entrada .meta p {
    font-weight: 700;
}
.contenido-entrada .meta span {
    color: #f46669;
}

.btn-primary:hover {
    background-color: #e65659;
    border-color: #e65659;
}
.text-light {
    color: white!important;
}

/**sidebar**/
aside a,
aside a:hover {
    color: #f5f5f5;
}
aside .card {
    border:none;
}
aside .card-title {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}
aside .car-subtitle {
    color: #f46669;
    font-weight: 400;
}
aside .card-footer {
    background-color: #c7c57d;

}
aside .card-footer a {
    color: black;
}

/**cursos**/

.card {
    margin-bottom: 2rem;
}
.card-title {
    font-weight: 400;
}
.card-subtitle {
    color: #ff4466;
    font-weight: 400;
}
/*clases*/
.instructor {
    font-size: 1.8rem;
    color: #ff4466
}

/*Footer*/
.licenciatura {
    background-image: url(../img/chef_bg.jpg);
    background-size: cover;
    background-position: center center;

}
.licenciatura .row {
height: 38rem;

}
.licenciatura .contenido h2 {
    font-weight: 700;
}
.display-4 {
    font-size: 1.8rem;
    line-height: 3rem;
}

.copyright {
    font-weight: 700;
    
}
.footer {
    border-bottom: 10px solid #f46669;
}